<?xml version="1.0" encoding='UTF-8'?>
<app title='test'>
	<frame id='header' type='grid'>
		<row>
			<label>source :</label>
			<entry id='source' default='source' />

			<label>options</label>
			<entry id='options' />

			<label></label>
			<button>go</button>
		</row>
	</frame>
	<frame id='loading'>
	</frame>
</app>